*{
    font-family: 'Roboto', sans-serif;
}
#id_page{
    top: 0px;
    left: 0px;
    width: 1366px;
    height: 695px;
    background: #FFFFFF;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    height: 949px;
}
#left_side{
    top: 0px;
    /*left: 0px;*/
    /*    width: 1366px;
        height: 695px;*/
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
#left_side #logo{
    margin-top: 40px;
    margin-left: 45px;
    width: 100px;
    height: 100px;
    background: transparent url('img/logo-bệnh-viện-đông-đô.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: fixed;
}
.order_number{
    top: 177px;
    /*left: 239px;*/
    width: 381px;
    height: 160px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 16px #00000029;
    border-radius: 15px;
    opacity: 1;
    padding: 24px 124px;
}
.label_2{
    margin-top: 52px;
    width: 320px;
    height: 37px;
    text-align: left;
    font: Bold 30px/37px Roboto;
    letter-spacing: 0px;
    color: #21C467;
    opacity: 1;
}
.label_3{
    top: 101px;
    /*left: 239px;*/
    width: 381px;
    height: 44px;
    text-align: left;
    font: Regular 18px/22px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
#order_num{
    font-size: 80px;
    font-weight: bold;
}
#middle_side{
    top: 0px;
    padding-right: 60px;
    padding-left: 60px;
    width: 502px;
    height: 695px;
    background: #FAFCFB 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 16px #00000029;
    border-radius: 15px;
    opacity: 1;
    height: 625px;
}
#id_map{
    top: 83px;
    /*left: 681px;*/
    width: 550px;
    height: 502px;
    background: transparent url('img/Image 2.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    /*margin-top: 83px;*/
    position: fixed;
    top: -5px;
}
.label_style2{
    text-align: left;
    font: Regular 20px/24px Roboto;
    letter-spacing: 0px;
    color: #ADADAD;
    opacity: 1;
    font-weight: 400;
}
.exam_department{
    text-align: right;
    font: Medium 24px/29px Roboto;
    letter-spacing: 0px;
    color: #21C467;
    opacity: 1;
}
.content_style2{
    float: right;
    font: Medium 24px/29px Roboto;
    letter-spacing: 0px;
    /*color: #212121;*/
    opacity: 1;
}
#announcement_title{
    font-weight: 700;
}
#announce_box{
    width: 381px;
    height: 111px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 16px #00000029;
    border-radius: 15px;
    opacity: 1;
    padding: 10px;
}
#zoom_out{
    border-radius: 36px;
    width: 52px;
    height: 52px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000040;
    opacity: 1;
    position: fixed;
    top: 498px;
    left: 84%;
}
#zoom_out img{
    width: 36px;
    margin: 7px;
}
#zoom_in{
    border-radius: 36px;
    width: 52px;
    height: 52px;
    background: #21C467 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000040;
    opacity: 1;
    margin: 3px 35px 3px 3px;
    position: fixed;
    top: 498px;
    left: 89%;
}
#zoom_in img{
    width: 36px;
    margin: 7px;
}
#zoom_in, #zoom_out{
    float: right;
}
#announce_area_2{
    width: 381px;
    height: 111px;
    background: #F65A5A 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 16px #00000029;
    border-radius: 15px;
    opacity: 1;
    margin-bottom: 15px;
    padding: 10px;
    color: #FFFFFF;
    text-align: left;
    overflow-y: scroll;
}
#announce_area_2::-webkit-scrollbar, #announce_box::-webkit-scrollbar {
    display: none;
}
#announce_box{
    overflow-y: scroll;
}
.app_booking{
    right: 0px;
    width: 105px;
    height: 60px;
    background: #F2F7FF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 8px #0068FF40;
    border-radius: 15px;
    opacity: 1;
}
.app_booking img{
    width: 50px;
    margin: 5px;
    border-radius: 10px;
}
.app_booking label{
    font: 17px Roboto;
    letter-spacing: 0px;
}
.app_zalo label{
    color: #0068FF;
}
.app_zalo{
    top: 200px;
    position: fixed;
}
.app_viber{
    top: 270px;
    position: fixed;
}
.app_viber label{
    color: #8E24AA;
}
.app_facebook{
    top: 340px;
    position: fixed;
}
.app_facebook label{
    color: #1977F3;
}
#beneath_part{
    margin-top: 32px;
}
#right_side{
    position: fixed;
    left: 54%;
}